.DS_Store
.gradle/
build/
out/
run/
.idea/
*.iml

# ignore a file
.env
.rr_assist_global/


# Local sibling projects kept in this workspace
SimpleClaims-RR/
hytale-template-plugin/
DuelArena/

pest-control/
fight-caves/
devkit/
